# --------------------
# Node dependencies
# --------------------
node_modules/
**/node_modules/

# --------------------
# Build outputs (local, not release)
# --------------------
dist-frontend/
frontend/dist/
backend/dist/
electron/dist/
build/
out/
.vite/

# --------------------
# Logs
# --------------------
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log


# --------------------
# Environment variables
# --------------------
.env
.env.local
.env.*.local

# --------------------
# OS files
# --------------------
.DS_Store
Thumbs.db

# --------------------
# VSCode
# --------------------
.vscode/
.vscode/settings.json

# --------------------
# Electron packaging artifacts
# --------------------
*.asar
electron-out/

# --------------------
# TypeScript / cache
# --------------------
*.tsbuildinfo
*.cache


# --------------------
# Keep the dist folder
# --------------------
dist/

# --------------------
# Keep only the installer in dist
# --------------------
# !dist/*.exe
# !dist/*latest.yml