@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th {
  background-color: rgb(10, 10, 10);
  transition: all 0.3s ease;
}
th, td {
  padding: 12px 15px;
  border: 1px solid #fff;
  text-align: left;
  transition: all 0.3s ease;
}
th:hover {
  background-color: rgb(50, 59, 83);
  cursor: pointer;
  transition: all 0.3s ease;
}

tr:hover {
  background-color: #333;
  cursor: pointer;
  transition: all 0.3s ease;
}

li {
  transition: all 0.3s ease;
}
li:hover {
  background-color: #333;
  cursor: pointer;
  transition: all 0.3s ease;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  th {
    background-color: #f3f4f6;
  }
  th, td {
    border: 1px solid #000;
  }
}
